@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

input[type="password"] {
    font-family: caption;
    letter-spacing: 4px;
}
input[type="email"] {
    font-weight: bold;
}